body{
	margin: 0;
	color: #666666;
	
}

nav a:hover {
  cursor: pointer;
  color: #D56724;
}

h2{
  margin: 0 0 3rem 0;
  color: #666666;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 4rem;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1.1;
  text-align: center;
}

h3{
  margin: 2rem 0 1rem 0;
  color: #666666;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.8rem;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1.1;
  text-align: center;
}

label{
  color: #666666;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1.1;
}

p{
    font-weight: 300;
    font-size: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
}

a{
	text-decoration: none;
	color: white;
}

footer{
  background-color: #AEBDB0;
  padding: 5vh 5vw 5vh 5vw;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;

}

footer img{
  height: 4rem;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

span{
   color: #D56724;
}

input, label, textarea{
  display: block;
  margin: 15px;
}

input{
  width: 90%;
  height: 2rem;
}

textarea{
  width: 95%;

}

input[type=submit]{
  width: 40%;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #D56724;
  color: white;
  height: auto;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
}

input[type=submit]:hover{
  cursor: pointer;
}

.navbar{
  background-color: #AEBDB0;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  display: flex;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex
}

.nav-container{
 background-color: #AEBDB0;
}

.navbar{
  max-width: 800px;
  margin: 0 auto;
}

.hero {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url('../img/hero-img.jpg');
}

.hero:after {
  background-color: rgba(174,189,176, 0.2);
  bottom: 0;
  content: '';
  left: -2000%;
  position: absolute;
  right: -2000%;
  top: 0;
  z-index: 1;
}

.hero-container {
  box-sizing: border-box;
  height: auto;
  padding: 5rem 5rem;
  position: relative;
  z-index: 2;
}

.hero-container p {
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 6px;
  opacity: 0.8;
  text-transform: uppercase;
  text-align: left;
}


.hero-title {
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 17vw;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.1;
  margin: 5px 0;
  text-align: left;
  width: 85%;
  font-size: 15vw;
}


.section-mission{
	background-color: #EEEFE5;
	text-align: center;
	padding-top: 10rem;
	padding: 20vh 10vw 20vh 10vw;
}

.mission-container{
  max-width: 800px;
  margin: 0 auto;
}

.section-contact{
  background-color: #EEEFE5;
  padding: 20vh 10vw 20vh 10vw;
}

.mission-title{
    margin: 0 0 3rem 0;
    color: #666666;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 4rem;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 1.1;
    text-align: center;
}

.section-mission h4{
	color: #666666;
	font-weight: 300;
	font-size: 1.5rem;
	font-family: 'Roboto Condensed', sans-serif;
}

.section-pricing{
  background-color: #DEDECD;
  padding: 20vh 10vw 20vh 10vw;
}

.category-container{
  display: flex;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex
  flex-wrap: wrap;
  justify-content: center;

}

.logo{
  margin-left: 10%;
}

.category{
  padding: 0 5vw 0 5vw;
  text-align: center;
  flex: 1;
  min-width: 12rem;
  max-width: 12rem;
}

.section-themes{
  background-color: #EEEFE5;
  padding: 0 10vw 20vh 10vw;
  text-align: center;
}
.cards-container{
  flex-wrap: wrap;
  display: flex;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex
}

.card-container{
  padding: 0.01em 16px;
  flex: 1;
  -webkit-box-flex: 1;   /* OLD - iOS 6-, Safari 3.1-6 */
  -webkit-flex: 1;       /* Safari 6.1+. iOS 7.1+, BB10 */
  -ms-flex: 1;           /* IE 10 */
  min-width: 12rem;
  max-width: 21rem;
}

.contact-container{
  max-width: 700px;
  margin: 0 auto;
}
.image-container{
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

.image-container img{
  width: 100%
}

.text-container{
  background-color: white;
  padding: 0.01em 16px;
}

.small-container{
 display: flex;
 flex-flow: row wrap;
 justify-content: space-around;
}

.small-container div{
  flex: 1 auto;
}

.left{
 margin-left: 10%;
}

.fa{
  color: #D56724;
}

@media screen and (max-width: 840px) {
  .cards-container{
    justify-content: center;
  }
}


